NEXT_PUBLIC_SUPABASE_URL=https://nwdccijrktxjcjqwzfwp.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im53ZGNjaWpya3R4amNqcXd6ZndwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNDUyNDksImV4cCI6MjA5MzcyMTI0OX0.luaIEpMODggeGViWLnyA42Q1mE5meD4DGyu_mGcW0ow